# Ignore environment variables
frontend/.env
backend/.env

# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build files
frontend/build/
backend/dist/

# Logs & caches
*.log
*.cache
*.tmp   